apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ idp_lab_from0_gitlab_gitops_name }}
  namespace: {{ idp_lab_from0_gitlab_gitops_namespace }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io/foreground
spec:
  destination:
    namespace: {{ idp_lab_from0_gitlab_namespace }}
    server: 'https://kubernetes.default.svc'
  project: default
  source:
    helm:
      values: |
        gitlab:

          templates: []

          users:
            users:
              - id: {{ idp_lab_from0_gitlab_user1 }}
              - id: {{ idp_lab_from0_gitlab_user2 }}
              - id: {{ idp_lab_from0_gitlab_user3 }}
            password: {{ idp_lab_from0_gitlab_users_password }}

          groups:
            - name: idp-lab
              repo:
                - name: helm
                  url: https://github.com/rh-idp-lab/helm.git
              users:
                - id: {{ idp_lab_from0_gitlab_user1 }}
                - id: {{ idp_lab_from0_gitlab_user2 }}
                - id: {{ idp_lab_from0_gitlab_user3 }}
            - name: rhdh
              repo:
                - name: developer-hub-config
                  url: https://github.com/rh-idp-lab/developer-hub-config.git
                - name: rhdh-templates
                  url: https://github.com/rh-idp-lab/rhdh-templates.git

      parameters:
        - name: gitlab.smtp.host
          value: "{{ idp_lab_from0_gitlab_config_smtp_host }}"
        - name: gitlab.ssh.host
          value: "{{ idp_lab_from0_gitlab_config_ssh_host }}"
        - name: gitlab.rootPassword
          value: "{{ idp_lab_from0_gitlab_config_root_password }}"
        - name: gitlab.users.password
          value: "{{ idp_lab_from0_gitlab_users_password }}"
        - name: gitlab.host
          value: {{ idp_lab_from0_gitlab_config_host }}
        - name: cluster.subdomain
          value: {{ r_openshift_subdomain }}

    path: {{ idp_lab_from0_gitlab_gitops_repo_path }}
    repoURL: {{ idp_lab_from0_gitlab_gitops_repo }}
    targetRevision: {{ idp_lab_from0_gitlab_gitops_repo_tag }}
  syncPolicy:
    automated: {}
    retry:
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m0s
      limit: 2
    syncOptions:
      - CreateNamespace=true
      - RespectIgnoreDifferences=true
